<%- include('../partials/application_header') %>
<script id="yield" type="text/x-handlebars-template">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</script>
<%- include('../partials/application_footer') %>